<ion-view hide-nav-bar="true" title="Login">
    <ion-modal-view>
        <ion-header-bar>
            <h1 class="title">Login</h1>
        </ion-header-bar>
        <ion-content>
            <div class="list">
                <form ng-submit="doLogin()">
                    <label class="item item-input item-floating-label">
                        <span class="input-label">Email</span>
                        <input type="text" ng-model="loginData.email" placeholder="Email">
                    </label>
                    <label class="item item-input item-floating-label">
                        <span class="input-label">Password</span>
                        <input type="password" ng-model="loginData.password" placeholder="Password">
                    </label>
                    <button class="button button-block button-assertive">
                        Submit
                    </button>
                    <label class="item">
                        <button class="button button-positive" ng-click="fbLogin()">
                            Login with Facebook
                        </button>
                        <button class="button button-positive" ng-click="fbLogin()">
                            Login with Twitter
                        </button>
                    </label>
                    <ion-item href="#/app/forgot-password">
                        Forgot Password?</ion-item>
                    <ion-item href="#/app/register">
                        New Here? Sign Up
                    </ion-item>
                </form>
            </div>
        </ion-content>
    </ion-modal-view>
</ion-view>