<sidemenu>
    <ion-view>
        <ion-tabs class="tabs-positive tabs-icon-top">
            <ion-tab title="Upcoming Events" icon-on="ion-ios-filing" icon-off="ion-ios-filing-outline" href="#/event/upcoming">
                <ion-nav-view name="upcoming-events-tab"></ion-nav-view>
            </ion-tab>
            <ion-tab title="Past Events" icon-on="ion-ios-clock" icon-off="ion-ios-clock-outline" href="#/event/past">
                <ion-nav-view name="past-events-tab"></ion-nav-view>
            </ion-tab>
            <ion-tab title="Create Events" icon-on="ion-ios-gear" icon-off="ion-ios-gear-outline" href="#/app/create-event">
            </ion-tab>
        </ion-tabs>
    </ion-view>
</sidemenu>